* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin: 0;
  padding: 8px;
  font-family: "Roboto";
}

#logs {
  flex-grow: 1;
}

.controls {
  display: flex;
  gap: 8px;
}

#command-input {
  flex-grow: 1;
}

.buttons {
  display: flex;
  gap: 8px;
}
.buttons button {
  flex-grow: 1;
}
