body {
  background-color: var(--bg);
  font-family: "Roboto";
  color: var(--text-900);
  padding: 16px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-title {
  display: flex;
}

.card-title span {
  flex-grow: 1;
}

.route-planning li {
  display: flex;
}

.route-planning li span {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
}

.route-planning li button {
  width: unset !important;
}

.search-input {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.search-input .icon-button {
  font-size: 1.5rem;
}

.search-input .inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.search-input .inputs input[type="text"] {
  width: 100%;
  border: 1px solid var(--header-text);
  background-color: var(--bg);
  color: var(--text-900);
  outline: none;
  padding: 5px;
  border-radius: 4px;
  font-family: "Roboto";
}

ul.route-list {
  padding: 0;
  margin: 0;
}

.route-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.route-list li:not(:last-child) {
  border-bottom: 1px solid var(--header-text);
  margin-bottom: 12px;
}

.route-list li .title {
  margin: 0;
  font-size: 1.2rem;
}

.route-list li .subtitle {
  margin: 0;
  font-size: 0.8rem;
}

.route-list li .actions {
  margin-bottom: 8px;
}


.map-container {
  width: 100%;
  height: 500px;

}


.user-icon {
  color: red;
}